@model ReviewViewModel

<div>
    @Html.LabelFor(x => x.Rating)
    @Html.DisplayFor(x => x.Rating)

    @Html.LabelFor(x => x.Comment)
    @Html.DisplayFor(x => x.Comment)

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>
