@model ReviewViewModel

<div>
    <div class="form-group">
        @Html.DisplayFor(x => x.Rating, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayFor(x => x.Comment, new { @class = "form-control" })
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>
