@{
    ViewData["Title"] = "Reviews";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <table id="tblReviews" class="display">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary tcModalButton" data-toggle="modal" data-target="#mdlModal" data-title="Add a New Review" data-url="@Url.Action("Add", "Review")">Add a New Review</button>
</div>

@section Scripts{
    <script tpye="text/javascript">
    $(document).ready( function () {
        $('#tblReviews').DataTable({
            "ajax" : "@Url.Action("List", "Review")",
            "columns" : [
                { "data" : "rating" },
                { "data" : "viewLink" }
            ],
            "searching" : false
        });
    });
    </script>
}