@{
    ViewData["Title"] = "Reviews";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <table id="tblReviews" class="display">
        <thead>
            <tr>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary tcModalButton" data-toggle="modal" data-target="#mdlAddReview">Add a New Review</button>
</div>

<partial name="_Add" />

@section Scripts{
    <script tpye="text/javascript">
    $(document).ready( function () {
        $('#tblReviews').DataTable({
            ajax: "@Url.Action("List", "Review")",
            searching: false
        });
    });
    </script>
}